$breakpoint: 600px;
$fbold: 700;
$fthin: 400;
@mixin font ($fontsize, $fontcolor) {
    font-size: $fontsize;  
    color: $fontcolor;
}
@mixin block-size ($widthsize, $heightsize) {
    width: $widthsize;
    height: $heightsize;
}