.page-content {
  max-width: 1400px;
  background-color: #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Work Sans';
}

.header-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 17px;
  font-size: 22px;
  color: #2B292D;
}

@media (min-width: 600px) {
  .header-first {
    margin-top: 108px;
    margin-bottom: 24px;
  }
}

.header-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.357143px;
  width: 290px;
  height: 80px;
  font-size: 40px;
  color: #2B292D;
}

@media (min-width: 600px) {
  .header-second {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    width: 555px;
    height: 112px;
  }
}

.description_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  width: 290px;
  height: 136px;
  font-size: 24px;
  color: #2B292D;
}

@media (min-width: 600px) {
  .description_content {
    width: 555px;
    height: 72px;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.page-buttons {
  border: none;
  -webkit-box-shadow: 0px 1px 5px -3px #000000;
          box-shadow: 0px 1px 5px -3px #000000;
  background-color: #3040C4;
  font-weight: 700;
  line-height: 13px;
  width: 290px;
  height: 48px;
  font-size: 18px;
  color: #000;
}

.page-buttons:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}

@media (min-width: 600px) {
  .page-buttons {
    width: 160px;
    height: 48px;
  }
}

.blue {
  background-color: #3040C4;
  color: white;
}

@media (min-width: 600px) {
  .white {
    margin-right: 5px;
  }
}

.white {
  margin-top: 17px;
  margin-bottom: 40px;
  background-color: #fff;
}

@media (min-width: 600px) {
  .white {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-weight: 700;
  line-height: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  color: #2B292D;
}

@media (min-width: 600px) {
  .pics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 111px;
    margin-bottom: 110px;
  }
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  width: 290px;
  height: 300px;
}

.pictures:hover {
  background: #3141C5;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}

.pictures .pic {
  margin: 22px;
  width: 138px;
  height: 195px;
}

@media (min-width: 600px) {
  .pictures {
    margin: 16px;
    width: 262px;
    height: 300px;
  }
}
/*# sourceMappingURL=content.css.map */