.footer {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media screen and (min-width: 600px) {
  .footer {
    box-sizing: border-box;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 48px;
    justify-content: space-between;
    flex-direction: row;
  }
}

.under-label-left {
  margin-left: 10px;
}

@media screen and (min-width: 600px) {
  .footer-column-for-text {
    margin: 20px;
    margin-left: 0;
  }
}

@media screen and (min-width: 600px) {
  .under-label {
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .under-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    max-width: 1400px;
    margin: auto;
  }
}

.company-name {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
}

.name-logo {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
}

@media screen and (min-width: 600px) {
  .name-logo {
    margin: 0;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid gray;
  padding-bottom: 5vh;
}

@media screen and (min-width: 600px) {
  .footer-column {
    display: block;
    border-bottom: none;
  }
}

@media screen and (min-width: 600px) {
  .logo {
    display: flex;
  }
}

.buttons {
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  .buttons {
    margin-top: 30px;
  }
}

@media screen and (min-width: 600px) {
  .under-label-right {
    margin: 0;
  }
}

.company-description {
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .company-description {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .label {
    height: 1px;
    opacity: 10%;
    background: #2b292d;
    max-width: 1400px;
    margin: auto;
  }
}

.chapter-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
}

.name-product {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
}

.under-label-button-privacy {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-left: 10px;
}

.under-label-button-license {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-left: 10px;
}

.under-label-button-terms {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.name-company {
  margin-left: 40px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
}

.under-label {
  margin-top: 10px;
}

.under-label-button-twitter {
  width: 21px;
  height: 16px;
  margin-left: 10px;
  opacity: 60%;
}

.under-label-button-facebook-and-linked {
  width: 18px;
  height: 17px;
  margin-left: 10px;
  opacity: 60%;
}

.footer-column-for-logo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

@media screen and (min-width: 600px) {
  .footer-column-for-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}

.footer-column-for-name-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .footer-column-for-name-logo {
    display: block;
  }
}

.footer-column-for-picture {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .footer-column-for-picture {
    display: block;
  }
}