@import "footer-adition.scss";

.footer {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media screen and ($screen-width) {
  .footer {
    box-sizing: border-box;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 48px;
    justify-content: space-between;
    flex-direction: row;
  }
}

.under-label-left {
  margin-left: 10px;
}

@media screen and ($screen-width) {
  .footer-column-for-text {
    margin: 20px;
    margin-left: 0;
  }
}

@media screen and ($screen-width) {
  .under-label {
    flex-direction: column;
  }
}

@media screen and ($screen-width) {
  .under-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    max-width: 1400px;
    margin: auto;
  }
}

.company-name {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: $secondary-weight-font;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  color: $secondary-font-color;
}

.name-logo {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: $primary-weight-font;
  font-size: $secondary-font-size;
  line-height: $secondary-line-height;
  color: $font-color;
}

@media screen and ($screen-width) {
  .name-logo {
    margin: 0;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  border-bottom: 1px solid gray;
  padding-bottom: 5vh;
}

@media screen and ($screen-width) {
  .footer-column {
    display: block;
    border-bottom: none;
  }
}

.list-for-company-description {
  list-style: none;
}

@media screen and ($screen-width) {
  .logo {
    display: flex;
  }
}

.buttons {
  display: flex;
  align-items: center;
}

@media screen and ($screen-width) {
  .buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media screen and ($screen-width) {
  .under-label-right {
    margin: 0;
  }
}

.company-description {
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: $secondary-weight-font;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  color: $secondary-font-color;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .company-description {
    display: none;
  }
}

@media screen and ($screen-width) {
  .label {
    height: 1px;
    opacity: 10%;
    background: $font-color;
    max-width: 1400px;
    margin: auto;
  }
}

.chapter-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: $secondary-weight-font;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  color: $secondary-font-color;
}

.name-product {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: $primary-weight-font;
  font-size: $secondary-font-size;
  line-height: $secondary-line-height;
  color: $font-color;
}

.under-label-button-privacy {
  text-decoration: none;
  color: $secondary-font-color;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: $secondary-weight-font;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  margin-left: 10px;
}

.under-label-button-license {
  text-decoration: none;
  color: $secondary-font-color;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: $secondary-weight-font;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  margin-left: 10px;
}

.under-label-button-terms {
  text-decoration: none;
  color: $secondary-font-color;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: $secondary-weight-font;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
}

.name-company {
  margin-left: 40px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: $primary-weight-font;
  font-size: $secondary-font-size;
  line-height: $secondary-line-height;
  color: $font-color;
}

.under-label {
  margin-top: 10px;
}

.under-label-button-twitter {
  width: 21px;
  height: 16px;
  margin-left: 10px;
  opacity: 60%;
}

.under-label-button-facebook-and-linked {
  width: $primary-font-size;
  height: 17px;
  margin-left: 10px;
  opacity: 60%;
}

.footer-column-for-logo {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

@media screen and ($screen-width) {
  .footer-column-for-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
}

.footer-column-for-name-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and ($screen-width) {
  .footer-column-for-name-logo {
    display: block;
  }
}

.footer-column-for-picture {
  display: flex;
  justify-content: center;
}

@media screen and ($screen-width) {
  .footer-column-for-picture {
    display: block;
  }
}

/*# sourceMappingURL=footer-for-addition.scss.map */
