$primary-weight-font: 700;
$secondary-weight-font: 400;
$font: font-family "Work Sans", sans-serif;
$font-color: #2b292d99;
$secondary-font-color: rgba(43, 41, 45, 0.6);
$screen-width: 600px;
$primary-font-size: 18px;
$secondary-font-size: 22px;
$primary-line-height: 26px;
$secondary-line-height: 28px;
