@import '_variables.scss';

.max_code {
    display: flex;
    width: 49.5vh;
    height: 1294px;
    background-color: pink;
    flex-direction: column;


    @include large-breakpoint {
        display: flex;
        width: 100%;
        height: 910px;

    }
}

.startup {
    display: flex;
    width: 30vh;
    height: 64px;
    flex-direction: column;

    @include large-breakpoint {
        display: flex;
        width: 50vh;
    }
}

.text-menu {
    display: flex;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    font-weight: $primary-font-weight;

    @include large-breakpoint {
        display: flex;
        font-size: $font-size-medium;
        font-weight: $primary-font-weight;
        width: 222px;
        height: 32px;
        order: 1;
        align-self: center;
    }
}

.text-menu2 {
    visibility: hidden;
    display: flex;

    @include large-breakpoint {
        display: flex;
        font-size: $font-size-medium;
        font-weight: $secondary-font-weight;
        height: 45px;
        order: 2;
        visibility: visible;
    }
}

.menu_picture {
    display: flex;
    height: 64px;
    width: 64px;

    @include large-breakpoint {
        display: flex;
        height: 60px;
        width: 60px;
    }
}

.M-P {
    display: flex;

    width: 100%;
    height: 50%;

    @include large-breakpoint {
justify-content: center;
        width: 100%;
        height: 67%;
    }

}

.main_on_header {
    font-weight: $primary-font-weight;
    display: flex;
    width: $max-width;
    height: 20%;
    align-self: flex-start;
    justify-self: flex-start;


    @include large-breakpoint {
        align-self: start;
        justify-self: start;
        flex-direction: column;
        display: flex;
        width: 40%;
        height: 101vh;

    }
}

.build {
    display: flex;
    height: 49vh;
    width: $max-width;

    justify-content: center;
    font-size: 50px;

    @include large-breakpoint {
        justify-self: flex-start;
        align-self: flex-start;
        display: flex;
        height: 379px;
        width: 469px;
        font-weight: bold;
        font-size: 63px;
        line-height: 78px;
        letter-spacing: -0.5px;
    }
}

.creative {
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 75%;

    @include large-breakpoint {
        display: flex;
        height: 170px;
        width: 456px;

        justify-self: flex-start;
        font-weight: $primary-font-weight;
        font-size: 24px;
        line-height: 34px;
    }
}

.picture-of-people {
    display: flex;
    width: $max-width;
    height: 25%;

    @include large-breakpoint {

        display: flex;
        height: 448px;
        width: 800px;
        justify-self: flex-end;
        align-self: center;
    }
}

.nav_menu {
    display: flex;
    width: $max-width;
    height: 64px;

    @include large-breakpoint {
        display: flex;
        background-color: white;
        width: $max-width;
        height: 8vh;
        border-radius: 16px;
    }
}

.menu_picture {
    display: flex;
    height: 64px;
    width: 64px;

    @include large-breakpoint {
        display: flex;
        height: 60px;
        width: 60px;
    }
}

.one {
    display: flex;
    width: 2.6vh;
    height: 3.2vh;


    @include large-breakpoint {
        display: flex;
        width: 65.5%;
        height: 7.56vh;

    }
}

nav {

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        &:after {
            display: flex;
            content: "";
            display: block;
            clear: both;
        }
    }

    a {
        display: flex;
        text-decoration: none;
        display: block;
        transition: 0.3s linear;
    }
}

.topmenu {

    >li {
        display: flex;
        position: relative;
        border-left: 1px;

        &:first-child {
            display: flex;
            border-left: 0;
        }

        >a.active {
            display: flex;
            color: black;
        }
    }

    display: flex;
    font-size: $font-size-medium;
    font-size: 12px;
    color: #fefdfd;
    letter-spacing: 2px;
}

.submenu {
    a:hover {
        display: flex;
        color: black;
    }

    display: flex;

    z-index: 2;
    min-width: 200px;
    background: white;
    border-top: 1px solid #cbcbcc;
    border-left: 1px solid #cbcbcc;
    border-right: 1px solid #cbcbcc;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: 0.3s linear;
    top: -1px;
    transition: 0.3s linear;
}

nav li:hover>.submenu {
    display: flex;
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

.menu-choose {
    display: flex;
    flex-wrap: wrap;

    background-color: white;
    width: 400px;
    height: 364px;
    border-radius: 8px;
    align-items: stretch;

    @include large-breakpoint {
        display: flex;
        background-color: white;
        height: 291px;
        width: 550px;

        border-radius: 8px;
        align-items: stretch;
    }
}

ul>li {
    display: flex;
    margin: 12px;
}

.engage-customer,
.book-appointеments,
.generate-leads {
    display: flex;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

.general {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    z-index: 3;
    height: 50%;
    width: 50%;
}

.offering,
.engage-start,
.aquam,
.become-designer {
    display: flex;
    font-weight: $primary-font-weight;
    font-size: $font-size-medium;
    line-height: 26px;
    color: black;
    z-index: 3;
}

.engage-customer:active,
.aquire-users:active,
.book-appointеments:active,
.generate-leads:active {
    display: flex;
    color: green;
}

.acquire {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    z-index: 3;
    height: 50%;
    width: 50%;
}

.aquire-users {
    display: flex;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

.engage,
.book {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    z-index: 3;
    height: 50%;
    width: 50%;
}

.active {
    display: flex;
    font-weight: $primary-font-weight;
    font-size: $font-size-medium;
    line-height: 25px;
}

.menu-tab {
    display: flex;
    color: black;
    font-weight: $primary-font-weight;
    font-size: $font-size-medium;
    line-height: 25px;
}

.menucure {
    display: flex;
    color: black;
    font-weight: 700;
    font-size: $font-size-medium;
    line-height: 25px;
}

.btmen {
    display: flex;
    visibility: hidden;
    margin: 0px;

    @include large-breakpoint {
        display: flex;
        width: 8%;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-self: flex-end;
        background-color: blue;
        color: white;
        font-weight: 700;
        font-size: $font-size-medium;
        line-height: 18px;
        visibility: visible;
    }
}

.reserved {
    display: flex;
    flex-direction: column;
    width: $max-width;
    height: 19vh;

    @include large-breakpoint {
        display: flex;
        flex-direction: row;
        height: 48px;
        width: 458px;
        padding-top: 22px;
        align-self: flex-end;
        justify-self: flex-start;
    }
}



.more {
    display: flex;
    height: 6vh;
    width: 10vh;


    @include large-breakpoint {
        height: 6vh;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 47.5%;
        background-color: white;
        color: blue;
        font-weight: 700;
        font-size: $font-size-medium;
        line-height: 13px;
    }
}

.started {
    display: flex;
    height: 6vh;
    width: 10vh;


    @include large-breakpoint {
        height: 6vh;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 47.5%;
        background-color: blue;
        color: white;
        font-weight: 700;
        font-size: $font-size-medium;
        line-height: 13px;
    }
}

.down_foot {
    display: flex;
    width: $max-width;
    height: 56vh;
    flex-direction: column;



    @include large-breakpoint {
        display: flex;
        flex-direction: row;
        display: flex;
        height: 17%;
        width: 100%;
        justify-content: center;
        
    }
}

.what_is_it {
    background: #f4f5f7;
    display: flex;
    font-size: 22px;
    font-weight: $primary-font-weight;
    line-height: 32px;
    width: $max-width;
    height: 50%;
    justify-content: center;
    align-items: center;


    @include large-breakpoint {
        display: flex;
        width: 42%;
        height: 100%;
        font-size: 22px;
        font-weight: $primary-font-weight;
        line-height: 32px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.sp_who {
    display: flex;
    align-self: flex-start;
    justify-self: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;

    @include large-breakpoint {
        display: flex; 
        font-size: 22px;
        font-weight: 700;
        line-height: 32px;
        font-size: 22px;
        font-weight: 700;
        line-height: 32px;
        align-self: flex-start;
        justify-self: center;
        width: 100%;
    }
}