@import '_variables.scss';

.max_code {
    display: flex;
    justify-content: center;
    width: 49.5vh;
    height: 1294px;
    background-color: pink;
    flex-direction: column;

    @include large-breakpoint {
        display: flex;
        width: 100%;
        height: 910px;
    }
}

.menu_picture {
    display: flex;
    height: 64px;
    width: 64px;

    @include large-breakpoint {
        display: flex;
        height: 60px;
        width: 60px;
    }
}

.menu {
    display: flex;
    width: 1143px;
    height: 100%;
    margin-left: 0%;

    @include large-breakpoint {
        display: flex;
        width: 1400px;
        height: 100%;
        margin-left: 7%;
    }
}

.nav_menu {
    display: flex;
    width: $max-width;
    height: 64px;

    @include large-breakpoint {
        display: flex;
        background-color: white;
        width: $max-width;
        height: 7vh;
        border-radius: 16px;
    }
}

.startup {
    display: flex;
    width: 30vh;
    margin-left: 10vh;
    position: absolute;
    height: 64px;
    flex-direction: column;

    @include large-breakpoint {
        display: flex;
        margin-left: 9.2vh;
    }
}

.text-menu {
    display: flex;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    font-weight: $primary-font-weight;

    @include large-breakpoint {
        display: flex;
        font-size: $font-size-medium;
        font-weight: $primary-font-weight;
        width: 222px;
        height: 32px;
        position: absolute;
        order: 1;
        align-items: center;
    }
}

.text-menu2 {
    visibility: hidden;
    display: flex;

    @include large-breakpoint {
        display: flex;
        font-size: $font-size-medium;
        font-weight: $secondary-font-weight;
        height: 45px;
        margin-top: 16px;
        align-items: flex-end;
        order: 2;
        visibility: visible;
    }
}

.one {
    display: flex;
    position: absolute;
    width: 2.6vh;
    height: 3.2vh;
    margin-left: 19%;
    margin-top: 7%;

    @include large-breakpoint {
        display: flex;
        width: 2.8vh;
        height: 7.56vh;
        margin-left: 37%;
        margin-top: 0%;
    }
}

.main_on_header {
    font-weight: $primary-font-weight;
    display: flex;
    width: $max-width;
    height: 20%;
    margin-top: 33vh;
    position: absolute;
    align-self: flex-start;
    justify-self: flex-start;
    flex-direction: column;

    @include large-breakpoint {
        flex-direction: row;
        display: flex;
        width: 40vh;
        height: 3vh;
        margin-top: 5vh;
    }
}

.btmen {
    display: flex;
    visibility: hidden;
    margin: 0px;

    @include large-breakpoint {
        display: flex;
        width: 8%;
        height: 72%;
        margin-left: 72.6%;
        text-align: center;
        align-items: center;
        background-color: blue;
        color: white;
        font-weight: 700;
        font-size: $font-size-medium;
        line-height: 18px;
        visibility: visible;
    }
}

nav {

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        &:after {
            display: flex;
            content: "";
            display: block;
            clear: both;
        }
    }

    a {
        display: flex;
        text-decoration: none;
        display: block;
        transition: 0.3s linear;
    }
}

.topmenu {

    >li {
        display: flex;
        float: left;
        position: relative;
        border-left: 1px;

        &:first-child {
            display: flex;
            border-left: 0;
        }

        >a.active {
            display: flex;
            color: black;
        }
    }

    display: flex;
    font-size: $font-size-medium;
    font-size: 12px;
    color: #fefdfd;
    letter-spacing: 2px;
}

.submenu {
    a:hover {
        display: flex;
        color: black;
    }

    display: flex;
    position: absolute;
    z-index: 2;
    min-width: 200px;
    background: white;
    border-top: 1px solid #cbcbcc;
    border-left: 1px solid #cbcbcc;
    border-right: 1px solid #cbcbcc;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: 0.3s linear;
    left: 100%;
    top: -1px;
    transition: 0.3s linear;
}

nav li:hover>.submenu {
    display: flex;
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

.menu-choose {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: white;
    width: 400px;
    height: 364px;
    margin: 60px 90px 2px -105px;
    border-radius: 8px;
    align-items: stretch;

    @include large-breakpoint {
        display: flex;
        background-color: white;
        height: 291px;
        width: 550px;
        margin: 60px 90px 2px -105px;
        border-radius: 8px;
        align-items: stretch;
    }
}

ul>li {
    display: flex;
    margin: 12px;
}

.engage-customer,
.book-appointеments,
.generate-leads {
    display: flex;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

.general {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    z-index: 3;
    height: 50%;
    width: 50%;
}

.offering,
.engage-start,
.aquam,
.become-designer {
    display: flex;
    font-weight: $primary-font-weight;
    font-size: $font-size-medium;
    line-height: 26px;
    color: black;
    z-index: 3;
}

.engage-customer:active,
.aquire-users:active,
.book-appointеments:active,
.generate-leads:active {
    display: flex;
    color: green;
}

.acquire {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    z-index: 3;
    height: 50%;
    width: 50%;
}

.aquire-users {
    display: flex;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

.engage,
.book {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    z-index: 3;
    height: 50%;
    width: 50%;
}

.active {
    display: flex;
    font-weight: $primary-font-weight;
    font-size: $font-size-medium;
    line-height: 25px;
}

.menu-tab {
    display: flex;
    color: black;
    font-weight: $primary-font-weight;
    font-size: $font-size-medium;
    line-height: 25px;
}

.menucure {
    display: flex;
    color: black;
    font-weight: 700;
    font-size: $font-size-medium;
    line-height: 25px;
}

.picture {
    display: flex;
    position: absolute;
    width: $max-width;
    height: 25%;
    margin-top: 395px;
    margin-left: 3.5%;

    @include large-breakpoint {
        display: flex;
        position: absolute;
        height: 448px;
        width: 645px;
        margin-top: 8%;
        margin-left: 32%;
    }
}

.build {
    display: flex;
    height: 49vh;
    width: $max-width;
    margin-top: -47%;
    margin-left: 7%;
    justify-content: center;
    font-size: 50px;

    @include large-breakpoint {
        margin-top: 18%;
        margin-left: 0%;
        display: flex;
        position: absolute;
        height: 379px;
        width: 469px;
        font-weight: bold;
        font-size: 63px;
        line-height: 78px;
        letter-spacing: -0.5px;
    }
}

.creative {
    display: flex;
    margin-top: 6%;
    margin-left: 7vh;
    flex-direction: column;
    height: 45vh;
    width: 75%;

    @include large-breakpoint {
        display: flex;
        height: 102px;
        width: 456px;
        position: absolute;
        margin: 302px 802px 230px 0px;
        font-weight: $primary-font-weight;
        font-size: 24px;
        line-height: 34px;
    }
}

.reserved {
    display: flex;
    flex-direction: column;
    width: $max-width;
    height: 19vh;
    margin-top: 150%;
    margin-right: 31%;

    @include large-breakpoint {
        display: flex;
        flex-direction: row;
        height: 48px;
        width: 328px;
        position: absolute;
        margin: 490px 940px 126px 0px;

    }
}

.more {
    background-color: blue;
    color: white;

}

.more,
.started {
    display: flex;
    height: 6vh;
    width: 18vh;


    @include large-breakpoint {
        height: 6vh;
        display: flex;
        ;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 47.5%;
        background-color: blue;
        color: white;
        font-weight: 700;
        font-size: $font-size-medium;
        line-height: 13px;
    }
}


.started {

    background-color: white;
    color: blue;
}

.down_foot {
    display: flex;
    width: $max-width;
    background: #f4f5f7;
    height: 56vh;
    margin-top: 794px;
    margin-left: 4%;
    flex-direction: column;
    position: absolute;


    @include large-breakpoint {
        flex-direction: row;
        display: flex;
        position: absolute;
        height: 22%;
        width: 78%;
        background: #f4f5f7;
        margin-top: 40.2%;
        margin-left: -5%;
    }
}

.what_is_it {
    display: flex;
    font-size: 22px;
    font-weight: $primary-font-weight;
    line-height: 32px;
    width: $max-width;
    height: 50%;
    justify-content: center;
    align-items: center;

    @include large-breakpoint {
        display: flex;
        width: 50%;
        height: 100%;
        font-size: 22px;
        font-weight: $primary-font-weight;
        line-height: 32px;
        justify-content: center;
        align-items: center;
    }
}

.sp_who {
    display: flex;
    position: absolute;
    align-self: flex-start;
    justify-self: center;
    margin-top: 6px;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;

    @include large-breakpoint {
        display: flex;
        margin-top: 6px;
        font-size: 22px;
        font-weight: 700;
        line-height: 32px;
        font-size: 22px;
        font-weight: 700;
        line-height: 32px;
        position: absolute;
        align-self: flex-start;
        justify-self: center;
    }
}