body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Work Sans', 'sans-serif';
  max-width: 1400px;
}

.hiring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.title_hiring {
  margin-top: 50px;
  margin-bottom: 0px;
  font-weight: 700;
  text-align: center;
  color: #2B292D;
  font-size: 40px;
}

@media screen and (min-width: 600px) {
  .title_hiring {
    font-size: 56px;
    line-height: 56px;
  }
}

.description_hiring {
  color: #2B292D;
  margin: 18px auto 30px;
  top: 113px;
  width: 290px;
  height: 136px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .description_hiring {
    width: 555px;
    max-height: 72px;
  }
}

.more-about-company {
  margin: 0px auto 39px;
  padding: 0;
  width: 290px;
  height: 48px;
  border-style: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.05)), to(rgba(255, 255, 255, 1e-05))), #3040C4;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
  background-blend-mode: overlay, normal;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.more-about-company:hover {
  background-color: #fff;
  color: #3040C4;
  border: 1px solid #3040C4;
}

.vacancies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 290px;
  height: 140px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid rgba(43, 41, 45, 0.2);
}

@media screen and (min-width: 600px) {
  .vacancies {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 750px;
    max-height: 81px;
  }
}

.vacancies:hover {
  cursor: pointer;
  color: #fff;
  background-color: #3040C4;
  -webkit-box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
}

.vacancies_title {
  max-width: 150px;
  padding: 19px 71px 18px 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

@media screen and (min-width: 600px) {
  .vacancies_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-left: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 408px;
  }
}

.vacancies_location {
  max-width: 180px;
  padding: 0 50px 19px 20px;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.6;
}

@media screen and (min-width: 600px) {
  .vacancies_location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 232px;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    margin-left: 20px;
  }
}

.vacancies_action-button {
  text-align: center;
  line-height: 140px;
  width: 50px;
  height: 140px;
  background: #D5D4D5;
  border-radius: 0px 8px 8px 0px;
}

@media screen and (min-width: 600px) {
  .vacancies_action-button {
    background-color: transparent;
    height: 81px;
    line-height: 81px;
  }
}
/*# sourceMappingURL=index.css.map */