/* здесь начинается Колина часть css */

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Work Sans', 'sans-serif';
    max-width: 1400px;
}

.hiring {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.title_hiring {
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 700;
    text-align: center;
    color: #2B292D;
    font-size: 40px;
}

@media (min-width: 600px) {
    .title_hiring {
        font-size: 56px;
        line-height: 56px;
    }
}

.description_hiring {
    margin: 18px auto 30px;
    top: 113px;
    width: 290px;
    height: 136px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

@media (min-width: 600px) {
    .description_hiring {
        width: 555px;
        max-height: 72px;
    }
}

.more-about-company {
    margin: 0px auto 39px;
    padding: 0;
    width: 290px;
    height: 48px;
    border-style: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.more-about-company:hover {
    background-color: #fff;
    color: #3040C4;
    border: 1px solid #3040C4;
}

.vacancies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 290px;
    height: 140px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid rgba(43, 41, 45, 0.2);
}

.vacancies:hover {
    cursor: pointer;
    color: #fff;
    background-color: #3141c5;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
        0px 11px 55px rgba(0, 0, 0, 0.07);
}

@media (min-width: 600px) {
    .vacancies {
        flex-direction: row;
        justify-content: space-between;
        width: 750px;
        max-height: 81px;
    }
}

.vacancies_title {
    max-width: 150px;
    padding: 19px 71px 18px 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

@media (min-width: 600px) {
    .vacancies_title {
        display: flex;
        padding: 0;
        margin-left: 25px;
        align-items: center;
        min-width: 408px;
    }
}

.vacancies_location {
    max-width: 180px;
    padding: 0 50px 19px 20px;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.6;
}

@media (min-width: 600px) {
    .vacancies_location {
        display: flex;
        align-items: center;
        min-width: 232px;
        padding: 0;
        font-size: 18px;
        line-height: 28px;
        margin-left: 20px;
    }
}

.vacancies_action-button {
    text-align: center;
    line-height: 140px;
    width: 50px;
    height: 140px;
    background: #D5D4D5;
    border-radius: 0px 8px 8px 0px;
}

@media (min-width: 600px) {
    .vacancies_action-button {
        background-color: transparent;
        height: 81px;
        line-height: 81px;
    }
}

/* здесь заканчивается Колина часть css */

.footer {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media screen and (min-width: 600px) {
  .footer {
    display: flex;
    list-style: none;
    box-sizing: border-box;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 48px;
    justify-content: space-between;
    flex-direction: row;
  }
}

.under-label-left {
  margin-left: 1vh;
}

.footer-column-for-text {
  margin: 2vh;
  margin-left: 0;
}

@media screen and (min-width: 600px) {
  .under-label {
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .under-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    max-width: 1400px;
    margin: auto;
  }
}

.company-name {
  font-family: "Work Sans", sans-serif;
  margin-top: -20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (min-width: 600px) {
  .company-name {
    margin-left: 60px;
    margin-top: -25px;
  }
}

.name-logo {
  margin-top: 0;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
}

@media screen and (min-width: 600px) {
  .name-logo {
    margin-left: 60px;
    margin-top: -55px;
  }
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
  border-bottom: 1px solid gray;
  padding-bottom: 5vh;
}

@media screen and (min-width: 600px) {
  .footer-column {
    display: block;
    border-bottom: none;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  .logo {
    margin-left: -5px;
  }
}

.buttons {
  margin-top: 5vh;
}

@media screen and (min-width: 600px) {
  .buttons {
    margin-top: 30px;
  }
}

.under-label-right {
  margin-top: 1vh;
}

@media screen and (min-width: 600px) {
  .under-label-right {
    margin: 0;
  }
}

/* Переопредиляем стили для Desktop */

.company-description {
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .company-description {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .label {
    height: 1px;
    opacity: 10%;
    background: #2b292d;
    max-width: 1400px;
    margin: auto;
  }
}

.chapter-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
}

.name-product {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
}

.under-label-button-privacy {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-left: 10px;
}

.under-label-button-license {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-left: 10px;
}

.under-label-button-terms {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.name-company {
  margin-left: 40px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
}

.under-label {
  margin-top: 10px;
  margin-left: 4vh;
}

.under-label-button-twitter {
  width: 21px;
  height: 16px;
  margin-left: 10px;
  opacity: 60%;
}

.under-label-button-facebook-and-linked {
  width: 18px;
  height: 17px;
  margin-left: 10px;
  opacity: 60%;
}
