$primary-color: #fff;
$secondary-color: #3040C4;
$action-button-color: #D5D4D5;
$primary-text-color: #2B292D;
$primary-font-weight: 700;
$secondary-font-weight: 400;
$button-cursor: pointer;
$breakpoint: 600px;

@mixin small-breakpoint {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}