$primary-color: #fff;
$secondary-color: #3040C4;
$action-button-color: #D5D4D5;
$primary-text-color: #2B292D;
$primary-font-weight: 700;
$secondary-font-weight: 400;
$button-cursor: pointer;
$breakpoint: 600px;
$primary-color:pink;
$font-size-medium:18px;
$max-width:100%;

html {
    font-family: 'Work Sans';
}

    
@mixin large-breakpoint {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin small-breakpoint {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin font ($fontsize, $fontcolor) {
    font-size: $fontsize;  
    color: $fontcolor;
}

@mixin block-size ($widthsize, $heightsize) {
    width: $widthsize;
    height: $heightsize;
}